.about {
    margin-top: 2rem;
    padding: 0;
    width: 100%;
    max-width: var(--max-content-width);
    height: 50vh;
}

.about-heading {
    text-align: center;
    margin-top: 2rem;
}

.about-text {
    margin: 0 auto;
    max-width: 768px;
    margin-top: 2rem;
}