.hamburger-button {
    margin-top: 0.3rem;
  div {
    width: 2.5rem;
    background-color: $textColor;
    border: 2px solid $textColor;
    border-radius: 1rem;
    margin: 0.5rem 1rem 0.5rem 0.5rem;
    transition: 0.5s;
  }
}
.open{
  //transform to x
  .line-1{
    transform: translateY(0.75rem) rotate(45deg);
  }
  .line-2{
    opacity: 0;
  }

  .line-3{
    transform: translateY(-0.75rem) rotate(-45deg);

  }
}