.stack {
    margin-top: 4rem;
    margin-bottom: 2rem;
}

.stack-heading {
  margin: 2rem 0 1rem 0;
}

.stack-container-grid {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1.25rem;
    max-width: var(--max-content-width);

    .stack-card {
        border-radius: var(--borderRad);
        padding: 1.25rem;
        transition: all 0.2s ease-in-out;
        border-radius: 5px;
        border: 1px solid;
        position: relative;
        overflow: hidden;

        &:hover {
            transform: translateY(-5px);
        }

        .stack-title {
            margin-bottom: 0.625rem;
        }

        .stack-stack ul {
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            flex-wrap: wrap;

            li {
                margin-right:  0.625rem;
                margin-bottom: 0.625rem;
            }
        }
    }
}

/* mobile phones */
@media (max-width: 768px) {
    .stack-container-grid .stack-card .stack-stack {
        justify-content: center;
        align-items: center;
    }
    .stack-container-grid .stack-card .stack-title {
        text-align: center;
    }
}

//Title Colours

.design-color {
    color: #ff8f1f;
}
.dev-color {
    color: #c636d9;
}
.other-color {
    color: #8bfff9;
}
